@charset "utf-8";
body {
	background-size: auto;
	background-image: url(../images/31027photo_1209510773Golden_Eagle_enlarged.jpg);
	
	}

section {
	top: 260px;
	width: 90%;
	background-color: rgba(0,0,0,1);
	float: none;
	right: 5%;
	left: 5%;
}

header {
	width: 480px;
}
